# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other files
*.d
angsd
misc/NGSadmix
misc/contamination
misc/contamination2
misc/haploToPlink
misc/ibs
misc/msHOT2glf
misc/msToGlf
misc/ngsPSMC
misc/printIcounts
misc/realSFS
misc/scounts
misc/smartCount
misc/splitgl
misc/supersim
misc/thetaStat
version.h
